
#pool{
	float: left;
	width: 250px;
	/*height: 250px;*/	
	border: dotted;
	padding: 25px;
	margin: 25px;
}
#plan{
	float: left;
	width: 250px;
	border: dotted;
	padding: 25px;
	margin: 25px;	
}

li {
	list-style-type: none;
	width: auto;
}

.task{
  background-color:#CCCCCC;
  border:solid;
}


